In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("fifa21 raw data v2.csv")

/var/folders/73/dfnlcqg57w7btn76pt1r17cm0000gp/T/ipykernel_1562/1369213445.py:1: DtypeWarning: Columns (76) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("fifa21 raw data v2.csv")

In [3]:
df.head()

,ID,Name,LongName,photoUrl,playerUrl,Nationality,Age,↓OVA,POT,Club,...,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
0,158023,L. Messi,Lionel Messi,https://cdn.sofifa.com/players/158/023/21_60.png,http://sofifa.com/player/158023/lionel-messi/2...,Argentina,33,93,93,\n\n\n\nFC Barcelona,...,Medium,Low,5 ★,85,92,91,95,38,65,771
1,20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,https://cdn.sofifa.com/players/020/801/21_60.png,http://sofifa.com/player/20801/c-ronaldo-dos-s...,Portugal,35,92,92,\n\n\n\nJuventus,...,High,Low,5 ★,89,93,81,89,35,77,562
2,200389,J. Oblak,Jan Oblak,https://cdn.sofifa.com/players/200/389/21_60.png,http://sofifa.com/player/200389/jan-oblak/210006/,Slovenia,27,91,93,\n\n\n\nAtlético Madrid,...,Medium,Medium,3 ★,87,92,78,90,52,90,150
3,192985,K. De Bruyne,Kevin De Bruyne,https://cdn.sofifa.com/players/192/985/21_60.png,http://sofifa.com/player/192985/kevin-de-bruyn...,Belgium,29,91,91,\n\n\n\nManchester City,...,High,High,4 ★,76,86,93,88,64,78,207
4,190871,Neymar Jr,Neymar da Silva Santos Jr.,https://cdn.sofifa.com/players/190/871/21_60.png,http://sofifa.com/player/190871/neymar-da-silv...,Brazil,28,91,91,\n\n\n\nParis Saint-Germain,...,High,Medium,5 ★,91,85,86,94,36,59,595

## Data Cleaning

In [4]:
#

In [5]:
# Converting all the header name into lower case
df.columns = [x.lower() for x in df.columns]

In [6]:
df.columns = df.columns.str.replace(" ", "_")

In [7]:
df.rename(columns = {"↓ova" : "ova"}, inplace = True)

In [8]:
df.columns

Index(['id', 'name', 'longname', 'photourl', 'playerurl', 'nationality', 'age',
       'ova', 'pot', 'club', 'contract', 'positions', 'height', 'weight',
       'preferred_foot', 'bov', 'best_position', 'joined', 'loan_date_end',
       'value', 'wage', 'release_clause', 'attacking', 'crossing', 'finishing',
       'heading_accuracy', 'short_passing', 'volleys', 'skill', 'dribbling',
       'curve', 'fk_accuracy', 'long_passing', 'ball_control', 'movement',
       'acceleration', 'sprint_speed', 'agility', 'reactions', 'balance',
       'power', 'shot_power', 'jumping', 'stamina', 'strength', 'long_shots',
       'mentality', 'aggression', 'interceptions', 'positioning', 'vision',
       'penalties', 'composure', 'defending', 'marking', 'standing_tackle',
       'sliding_tackle', 'goalkeeping', 'gk_diving', 'gk_handling',
       'gk_kicking', 'gk_positioning', 'gk_reflexes', 'total_stats',
       'base_stats', 'w/f', 'sm', 'a/w', 'd/w', 'ir', 'pac', 'sho', 'pas',
       'dri', 'def', 'phy', 'hits'],
      dtype='object')

# 2

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 77 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                18979 non-null  int64
 1   name              18979 non-null  object
 2   longname          18979 non-null  object
 3   photourl          18979 non-null  object
 4   playerurl         18979 non-null  object
 5   nationality       18979 non-null  object
 6   age               18979 non-null  int64
 7   ova               18979 non-null  int64
 8   pot               18979 non-null  int64
 9   club              18979 non-null  object
 10  contract          18979 non-null  object
 11  positions         18979 non-null  object
 12  height            18979 non-null  object
 13  weight            18979 non-null  object
 14  preferred_foot    18979 non-null  object
 15  bov               18979 non-null  int64
 16  best_position     18979 non-null  object
 17  joined            18979 non-null  object
 18  loan_date_end     1013 non-null   object
 19  value             18979 non-null  object
 20  wage              18979 non-null  object
 21  release_clause    18979 non-null  object
 22  attacking         18979 non-null  int64
 23  crossing          18979 non-null  int64
 24  finishing         18979 non-null  int64
 25  heading_accuracy  18979 non-null  int64
 26  short_passing     18979 non-null  int64
 27  volleys           18979 non-null  int64
 28  skill             18979 non-null  int64
 29  dribbling         18979 non-null  int64
 30  curve             18979 non-null  int64
 31  fk_accuracy       18979 non-null  int64
 32  long_passing      18979 non-null  int64
 33  ball_control      18979 non-null  int64
 34  movement          18979 non-null  int64
 35  acceleration      18979 non-null  int64
 36  sprint_speed      18979 non-null  int64
 37  agility           18979 non-null  int64
 38  reactions         18979 non-null  int64
 39  balance           18979 non-null  int64
 40  power             18979 non-null  int64
 41  shot_power        18979 non-null  int64
 42  jumping           18979 non-null  int64
 43  stamina           18979 non-null  int64
 44  strength          18979 non-null  int64
 45  long_shots        18979 non-null  int64
 46  mentality         18979 non-null  int64
 47  aggression        18979 non-null  int64
 48  interceptions     18979 non-null  int64
 49  positioning       18979 non-null  int64
 50  vision            18979 non-null  int64
 51  penalties         18979 non-null  int64
 52  composure         18979 non-null  int64
 53  defending         18979 non-null  int64
 54  marking           18979 non-null  int64
 55  standing_tackle   18979 non-null  int64
 56  sliding_tackle    18979 non-null  int64
 57  goalkeeping       18979 non-null  int64
 58  gk_diving         18979 non-null  int64
 59  gk_handling       18979 non-null  int64
 60  gk_kicking        18979 non-null  int64
 61  gk_positioning    18979 non-null  int64
 62  gk_reflexes       18979 non-null  int64
 63  total_stats       18979 non-null  int64
 64  base_stats        18979 non-null  int64
 65  w/f               18979 non-null  object
 66  sm                18979 non-null  object
 67  a/w               18979 non-null  object
 68  d/w               18979 non-null  object
 69  ir                18979 non-null  object
 70  pac               18979 non-null  int64
 71  sho               18979 non-null  int64
 72  pas               18979 non-null  int64
 73  dri               18979 non-null  int64
 74  def               18979 non-null  int64
 75  phy               18979 non-null  int64
 76  hits              16384 non-null  object
dtypes: int64(54), object(23)
memory usage: 11.1+ MB

In [10]:
#reviewing the sample of club column
df['club'].sample()

7570    \n\n\n\nVfL Osnabrück
Name: club, dtype: object

In [11]:
df['clubs'] = df['club'].apply(lambda x: x.strip())

# 3

In [12]:
#reviewing the sample of club column
df['contract']

0        2004 ~ 2021
1        2018 ~ 2022
2        2014 ~ 2023
3        2015 ~ 2023
4        2017 ~ 2022
            ...
18974    2018 ~ 2022
18975    2020 ~ 2021
18976    2019 ~ 2020
18977    2020 ~ 2022
18978    2019 ~ 2023
Name: contract, Length: 18979, dtype: object

In [13]:
df['contract'] = df['contract'].apply(lambda x : x.replace(" ~ ", "-"))

# 4

In [14]:
df['contract'].unique()

array(['2004-2021', '2018-2022', '2014-2023', '2015-2023', '2017-2022',
       '2017-2023', '2018-2024', '2014-2022', '2018-2023', '2016-2023',
       '2013-2023', '2011-2023', '2009-2022', '2005-2021', '2011-2021',
       '2015-2022', '2017-2024', '2010-2024', '2012-2021', '2019-2024',
       '2015-2024', '2017-2025', '2020-2025', '2019-2023', '2008-2023',
       '2015-2021', '2020-2022', '2012-2022', '2016-2025', '2013-2022',
       '2011-2022', '2012-2024', '2016-2021', '2012-2023', '2008-2022',
       '2019-2022', '2017-2021', '2013-2024', '2020-2024', '2010-2022',
       '2020-2021', '2011-2024', '2020-2023', '2014-2024', '2013-2026',
       '2016-2022', '2010-2021', '2013-2021', '2019-2025', '2018-2025',
       '2016-2024', '2018-2021', '2009-2024', '2007-2022',
       'Jun 30, 2021 On Loan', '2009-2021', '2019-2021', '2019-2026',
       'Free', '2012-2028', '2010-2023', '2014-2021', '2015-2025',
       '2014-2026', '2012-2025', '2017-2020', '2002-2022', '2020-2027',
       '2013-2025', 'Dec 31, 2020 On Loan', '2019-2020', '2011-2025',
       '2016-2020', '2007-2021', '2020-2026', '2010-2025', '2009-2023',
       '2008-2021', '2020-2020', '2016-2026', 'Jan 30, 2021 On Loan',
       '2012-2020', '2014-2025', 'Jun 30, 2022 On Loan', '2015-2020',
       'May 31, 2021 On Loan', '2018-2020', '2014-2020', '2013-2020',
       '2006-2024', 'Jul 5, 2021 On Loan', 'Dec 31, 2021 On Loan',
       '2004-2025', '2011-2020', 'Jul 1, 2021 On Loan',
       'Jan 1, 2021 On Loan', '2006-2023', 'Aug 31, 2021 On Loan',
       '2006-2021', '2005-2023', '2003-2020', '2009-2020', '2002-2020',
       '2005-2020', '2005-2022', 'Jan 31, 2021 On Loan', '2010-2020',
       'Dec 30, 2021 On Loan', '2008-2020', '2007-2020', '2003-2021',
       'Jun 23, 2021 On Loan', 'Jan 3, 2021 On Loan',
       'Nov 27, 2021 On Loan', '2002-2021', 'Jan 17, 2021 On Loan',
       'Jun 30, 2023 On Loan', '1998-2021', '2003-2022', '2007-2023',
       'Jul 31, 2021 On Loan', 'Nov 22, 2020 On Loan',
       'May 31, 2022 On Loan', '2006-2020', 'Dec 30, 2020 On Loan',
       '2007-2025', 'Jan 4, 2021 On Loan', 'Nov 30, 2020 On Loan',
       '2004-2020', '2009-2025', 'Aug 1, 2021 On Loan'], dtype=object)

In [19]:
def contract_terms(item):
    if "On Loan" in item:
        return "loan"
    if "-" in item:
        return "active"
    if "Free" in item:
        return "free"

In [21]:
df['contract_terms'] = df['contract'].apply(contract_terms)
df['contract_terms'].unique()

array(['active', 'loan', 'free'], dtype=object)

In [22]:
df['value']

0        €103.5M
1           €63M
2          €120M
3          €129M
4          €132M
          ...
18974      €100K
18975      €130K
18976      €120K
18977      €100K
18978      €100K
Name: value, Length: 18979, dtype: object

In [35]:
def value_change(item):
    try:
        item = item.replace("€", "").strip()
        if "K" in item:
            item = float(item.replace("K", ""))
            item = item * 1000
        if "M" in item:
            item = float(item.replace("M", ""))
            item = item * 1000000
        else:
            item = float(item)
        return  round(item)
    
    except:
        return 0

In [36]:
df['value_'] = df['value']. apply(value_change)

In [37]:
df['value_']

0        103500000
1         63000000
2        120000000
3        129000000
4        132000000
           ...
18974            0
18975            0
18976            0
18977            0
18978            0
Name: value_, Length: 18979, dtype: int64

## 5

In [39]:
df['height'].unique()

array(['170cm', '187cm', '188cm', '181cm', '175cm', '184cm', '191cm',
       '178cm', '193cm', '185cm', '199cm', '173cm', '168cm', '176cm',
       '177cm', '183cm', '180cm', '189cm', '179cm', '195cm', '172cm',
       '182cm', '186cm', '192cm', '165cm', '194cm', '167cm', '196cm',
       '163cm', '190cm', '174cm', '169cm', '171cm', '197cm', '200cm',
       '166cm', '6\'2"', '164cm', '198cm', '6\'3"', '6\'5"', '5\'11"',
       '6\'4"', '6\'1"', '6\'0"', '5\'10"', '5\'9"', '5\'6"', '5\'7"',
       '5\'4"', '201cm', '158cm', '162cm', '161cm', '160cm', '203cm',
       '157cm', '156cm', '202cm', '159cm', '206cm', '155cm'], dtype=object)

In [77]:
df['height'].dtype

dtype('O')

In [132]:
def convert_(item):
    if 'cm' in item:
        item = item.replace("cm", "")
    else:
        item = item.replace('"', '')
        value = item.split("\'")
        item = (float(value[0]) * 30.48) + (float(value[1]) * 2.54)
                                         
    return int(item)

In [133]:
a = convert_('6\'3"')
print(a)

190

In [134]:
df['heights'] = df['height'].apply(convert_)

In [113]:
df['heights']

0        170
1        187
2        188
3        181
4        175
        ...
18974    178
18975    175
18976    179
18977    175
18978    188
Name: heights, Length: 18979, dtype: int64

In [106]:
df['heights'].unique()

array([170, 187, 188, 181, 175, 184, 191, 178, 193, 185, 199, 173, 168,
       176, 177, 183, 180, 189, 179, 195, 172, 182, 186, 192, 165, 194,
       167, 196, 163, 190, 174, 169, 171, 197, 200, 166, 164, 198, 162,
       201, 158, 161, 160, 203, 157, 156, 202, 159, 206, 155])

## 6

In [110]:
df['weight'].unique()

array(['72kg', '83kg', '87kg', '70kg', '68kg', '80kg', '71kg', '91kg',
       '73kg', '85kg', '92kg', '69kg', '84kg', '96kg', '81kg', '82kg',
       '75kg', '86kg', '89kg', '74kg', '76kg', '64kg', '78kg', '90kg',
       '66kg', '60kg', '94kg', '79kg', '67kg', '65kg', '59kg', '61kg',
       '93kg', '88kg', '97kg', '77kg', '62kg', '63kg', '95kg', '100kg',
       '58kg', '183lbs', '179lbs', '172lbs', '196lbs', '176lbs', '185lbs',
       '170lbs', '203lbs', '168lbs', '161lbs', '146lbs', '130lbs',
       '190lbs', '174lbs', '148lbs', '165lbs', '159lbs', '192lbs',
       '181lbs', '139lbs', '154lbs', '157lbs', '163lbs', '98kg', '103kg',
       '99kg', '102kg', '56kg', '101kg', '57kg', '55kg', '104kg', '107kg',
       '110kg', '53kg', '50kg', '54kg', '52kg'], dtype=object)

In [145]:
def parse_lbs(item):
    if "kg" in item:
        item = item.replace("kg", "")
    else:
        value = item.replace("lbs", "")
        item = int(value) * 0.453592
    return int(item)

In [146]:
a = parse_lbs('139lbs')
print(a)

63

In [147]:
df['weight'] = df['weight'].apply(parse_lbs)

In [148]:
df['weight'].unique()

array([ 72,  83,  87,  70,  68,  80,  71,  91,  73,  85,  92,  69,  84,
        96,  81,  82,  75,  86,  89,  74,  76,  64,  78,  90,  66,  60,
        94,  79,  67,  65,  59,  61,  93,  88,  97,  77,  62,  63,  95,
       100,  58,  98, 103,  99, 102,  56, 101,  57,  55, 104, 107, 110,
        53,  50,  54,  52])