In [64]:
#importing librairies
import pandas as pd
import numpy as np

In [65]:
df = pd.read_csv('fifa21 raw data v2.csv')
df.head(5)

/var/folders/73/dfnlcqg57w7btn76pt1r17cm0000gp/T/ipykernel_6865/2644287725.py:1: DtypeWarning: Columns (76) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('fifa21 raw data v2.csv')

,ID,Name,LongName,photoUrl,playerUrl,Nationality,Age,↓OVA,POT,Club,...,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
0,158023,L. Messi,Lionel Messi,https://cdn.sofifa.com/players/158/023/21_60.png,http://sofifa.com/player/158023/lionel-messi/2...,Argentina,33,93,93,\n\n\n\nFC Barcelona,...,Medium,Low,5 ★,85,92,91,95,38,65,771
1,20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,https://cdn.sofifa.com/players/020/801/21_60.png,http://sofifa.com/player/20801/c-ronaldo-dos-s...,Portugal,35,92,92,\n\n\n\nJuventus,...,High,Low,5 ★,89,93,81,89,35,77,562
2,200389,J. Oblak,Jan Oblak,https://cdn.sofifa.com/players/200/389/21_60.png,http://sofifa.com/player/200389/jan-oblak/210006/,Slovenia,27,91,93,\n\n\n\nAtlético Madrid,...,Medium,Medium,3 ★,87,92,78,90,52,90,150
3,192985,K. De Bruyne,Kevin De Bruyne,https://cdn.sofifa.com/players/192/985/21_60.png,http://sofifa.com/player/192985/kevin-de-bruyn...,Belgium,29,91,91,\n\n\n\nManchester City,...,High,High,4 ★,76,86,93,88,64,78,207
4,190871,Neymar Jr,Neymar da Silva Santos Jr.,https://cdn.sofifa.com/players/190/871/21_60.png,http://sofifa.com/player/190871/neymar-da-silv...,Brazil,28,91,91,\n\n\n\nParis Saint-Germain,...,High,Medium,5 ★,91,85,86,94,36,59,595

In [66]:
print(f"This is the Dataset information :\n")
df.info()

This is the Dataset information :

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 77 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                18979 non-null  int64
 1   Name              18979 non-null  object
 2   LongName          18979 non-null  object
 3   photoUrl          18979 non-null  object
 4   playerUrl         18979 non-null  object
 5   Nationality       18979 non-null  object
 6   Age               18979 non-null  int64
 7   ↓OVA              18979 non-null  int64
 8   POT               18979 non-null  int64
 9   Club              18979 non-null  object
 10  Contract          18979 non-null  object
 11  Positions         18979 non-null  object
 12  Height            18979 non-null  object
 13  Weight            18979 non-null  object
 14  Preferred Foot    18979 non-null  object
 15  BOV               18979 non-null  int64
 16  Best Position     18979 non-null  object
 17  Joined            18979 non-null  object
 18  Loan Date End     1013 non-null   object
 19  Value             18979 non-null  object
 20  Wage              18979 non-null  object
 21  Release Clause    18979 non-null  object
 22  Attacking         18979 non-null  int64
 23  Crossing          18979 non-null  int64
 24  Finishing         18979 non-null  int64
 25  Heading Accuracy  18979 non-null  int64
 26  Short Passing     18979 non-null  int64
 27  Volleys           18979 non-null  int64
 28  Skill             18979 non-null  int64
 29  Dribbling         18979 non-null  int64
 30  Curve             18979 non-null  int64
 31  FK Accuracy       18979 non-null  int64
 32  Long Passing      18979 non-null  int64
 33  Ball Control      18979 non-null  int64
 34  Movement          18979 non-null  int64
 35  Acceleration      18979 non-null  int64
 36  Sprint Speed      18979 non-null  int64
 37  Agility           18979 non-null  int64
 38  Reactions         18979 non-null  int64
 39  Balance           18979 non-null  int64
 40  Power             18979 non-null  int64
 41  Shot Power        18979 non-null  int64
 42  Jumping           18979 non-null  int64
 43  Stamina           18979 non-null  int64
 44  Strength          18979 non-null  int64
 45  Long Shots        18979 non-null  int64
 46  Mentality         18979 non-null  int64
 47  Aggression        18979 non-null  int64
 48  Interceptions     18979 non-null  int64
 49  Positioning       18979 non-null  int64
 50  Vision            18979 non-null  int64
 51  Penalties         18979 non-null  int64
 52  Composure         18979 non-null  int64
 53  Defending         18979 non-null  int64
 54  Marking           18979 non-null  int64
 55  Standing Tackle   18979 non-null  int64
 56  Sliding Tackle    18979 non-null  int64
 57  Goalkeeping       18979 non-null  int64
 58  GK Diving         18979 non-null  int64
 59  GK Handling       18979 non-null  int64
 60  GK Kicking        18979 non-null  int64
 61  GK Positioning    18979 non-null  int64
 62  GK Reflexes       18979 non-null  int64
 63  Total Stats       18979 non-null  int64
 64  Base Stats        18979 non-null  int64
 65  W/F               18979 non-null  object
 66  SM                18979 non-null  object
 67  A/W               18979 non-null  object
 68  D/W               18979 non-null  object
 69  IR                18979 non-null  object
 70  PAC               18979 non-null  int64
 71  SHO               18979 non-null  int64
 72  PAS               18979 non-null  int64
 73  DRI               18979 non-null  int64
 74  DEF               18979 non-null  int64
 75  PHY               18979 non-null  int64
 76  Hits              16384 non-null  object
dtypes: int64(54), object(23)
memory usage: 11.1+ MB

In [67]:
#the number of rows and columns 
rows, columns = df.shape
print(f"There are {rows} rows and {columns} columns in the dataset")

There are 18979 rows and 77 columns in the dataset

# Data Cleaning

#### Renaming the columns

In [68]:
# Converting all the header name into lower case
df.columns = [x.lower() for x in df.columns]
df.rename(columns = {'↓ova': 'ova'}, inplace = True)

In [69]:
# remove special character
df.columns = df.columns.str.replace(' ', '_')

In [70]:
df.columns

Index(['id', 'name', 'longname', 'photourl', 'playerurl', 'nationality', 'age',
       'ova', 'pot', 'club', 'contract', 'positions', 'height', 'weight',
       'preferred_foot', 'bov', 'best_position', 'joined', 'loan_date_end',
       'value', 'wage', 'release_clause', 'attacking', 'crossing', 'finishing',
       'heading_accuracy', 'short_passing', 'volleys', 'skill', 'dribbling',
       'curve', 'fk_accuracy', 'long_passing', 'ball_control', 'movement',
       'acceleration', 'sprint_speed', 'agility', 'reactions', 'balance',
       'power', 'shot_power', 'jumping', 'stamina', 'strength', 'long_shots',
       'mentality', 'aggression', 'interceptions', 'positioning', 'vision',
       'penalties', 'composure', 'defending', 'marking', 'standing_tackle',
       'sliding_tackle', 'goalkeeping', 'gk_diving', 'gk_handling',
       'gk_kicking', 'gk_positioning', 'gk_reflexes', 'total_stats',
       'base_stats', 'w/f', 'sm', 'a/w', 'd/w', 'ir', 'pac', 'sho', 'pas',
       'dri', 'def', 'phy', 'hits'],
      dtype='object')

#### Issue 1. Cleaning the column `Club`

In [71]:
#reviewing the sample of club column
df['club'].sample()

2854    \n\n\n\nDeportivo Alavés
Name: club, dtype: object

In [72]:
#removing the new lines
df['club'] = df['club'].apply(lambda x: x.strip())

#### Issue 2. Contract

In [73]:
df['contract'] = df['contract'].apply(lambda x: x.replace(' ~ ','-'))
df['contract'].unique()

array(['2004-2021', '2018-2022', '2014-2023', '2015-2023', '2017-2022',
       '2017-2023', '2018-2024', '2014-2022', '2018-2023', '2016-2023',
       '2013-2023', '2011-2023', '2009-2022', '2005-2021', '2011-2021',
       '2015-2022', '2017-2024', '2010-2024', '2012-2021', '2019-2024',
       '2015-2024', '2017-2025', '2020-2025', '2019-2023', '2008-2023',
       '2015-2021', '2020-2022', '2012-2022', '2016-2025', '2013-2022',
       '2011-2022', '2012-2024', '2016-2021', '2012-2023', '2008-2022',
       '2019-2022', '2017-2021', '2013-2024', '2020-2024', '2010-2022',
       '2020-2021', '2011-2024', '2020-2023', '2014-2024', '2013-2026',
       '2016-2022', '2010-2021', '2013-2021', '2019-2025', '2018-2025',
       '2016-2024', '2018-2021', '2009-2024', '2007-2022',
       'Jun 30, 2021 On Loan', '2009-2021', '2019-2021', '2019-2026',
       'Free', '2012-2028', '2010-2023', '2014-2021', '2015-2025',
       '2014-2026', '2012-2025', '2017-2020', '2002-2022', '2020-2027',
       '2013-2025', 'Dec 31, 2020 On Loan', '2019-2020', '2011-2025',
       '2016-2020', '2007-2021', '2020-2026', '2010-2025', '2009-2023',
       '2008-2021', '2020-2020', '2016-2026', 'Jan 30, 2021 On Loan',
       '2012-2020', '2014-2025', 'Jun 30, 2022 On Loan', '2015-2020',
       'May 31, 2021 On Loan', '2018-2020', '2014-2020', '2013-2020',
       '2006-2024', 'Jul 5, 2021 On Loan', 'Dec 31, 2021 On Loan',
       '2004-2025', '2011-2020', 'Jul 1, 2021 On Loan',
       'Jan 1, 2021 On Loan', '2006-2023', 'Aug 31, 2021 On Loan',
       '2006-2021', '2005-2023', '2003-2020', '2009-2020', '2002-2020',
       '2005-2020', '2005-2022', 'Jan 31, 2021 On Loan', '2010-2020',
       'Dec 30, 2021 On Loan', '2008-2020', '2007-2020', '2003-2021',
       'Jun 23, 2021 On Loan', 'Jan 3, 2021 On Loan',
       'Nov 27, 2021 On Loan', '2002-2021', 'Jan 17, 2021 On Loan',
       'Jun 30, 2023 On Loan', '1998-2021', '2003-2022', '2007-2023',
       'Jul 31, 2021 On Loan', 'Nov 22, 2020 On Loan',
       'May 31, 2022 On Loan', '2006-2020', 'Dec 30, 2020 On Loan',
       '2007-2025', 'Jan 4, 2021 On Loan', 'Nov 30, 2020 On Loan',
       '2004-2020', '2009-2025', 'Aug 1, 2021 On Loan'], dtype=object)

In [74]:
#function to define the terms
def contract_terms(item):
    if '-' in item:
        return 'active'
    if 'On Loan' in item:
        return 'loan'
    if 'Free' in item:
        return 'free'

In [75]:
df['contract_terms'] = df['contract'].apply(contract_terms)

#### Issue 3. Joined

- Based on the 'Joined' column, we can check which players have been playing at a club for more than 10 years!

In [79]:
df['previous_year'] = pd.to_datetime(df.joined).dt.year

In [80]:
df['joined']

0         1-Jul-04
1        10-Jul-18
2        16-Jul-14
3        30-Aug-15
4         3-Aug-17
           ...
18974    13-Jul-18
18975     1-Aug-20
18976     8-Mar-19
18977    22-Sep-20
18978    29-Jul-19
Name: joined, Length: 18979, dtype: object

In [81]:
df['previous_year'] = df['previous_year'].astype('int')

In [82]:
#to get the current year
import datetime
df['current_year'] = datetime.datetime.now().year
df['current_year'] = df['current_year'].astype('int')

In [83]:
#the number of years the players has spent in a club
df['players_club_year'] = df['current_year'] - df['previous_year']

#### Issue 4. Dealing with `Value`, `Wage`, `Release Clause`

In [114]:
def values(item):
    try:
        item = item.replace('€', '').strip()
        if 'K' in item:
            item = float(item.replace('K', ''))
            item  = item * 1000
        elif 'M' in item:
            item = float(item.replace('M',''))
            item = item * 1000000
        else:
            item = float(item)
        return item
    
    except:
        return 0

In [131]:
#applying the function
df['value'] = df['value'].apply(values)
df['wage'] = df['wage'].apply(values)
df['release_clause'] = df['release_clause'].apply(values)